.ltGreen {
    background-color: rgb(226, 238, 213);
}

.ltYellow {
    background-color: rgb(241, 226, 143);
}

h1, .headerp {
    color:  rgb(241, 226, 143);
}
.headerPic {
    background-image: url('../img/Header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}
h2, h3, a {
    color:  rgb(41, 98, 151);
}
td>a {
    font-weight: bold;
    
}

td {
    width: 100px;
}

#typeDdlDiv, #mntnImage, #riseH, #setH{

    display: none;
}

